.App {
	text-align: center;
	width: 500px;
	margin: 0 auto;
	border-top: 7px solid green;
	margin-top: 50px;
}

.App .Header{
	padding: 10px 5px;
	display: flex;
	justify-content: space-around;
}

.App .Header input{
	font-weight: 300;
	font-size: 25px;
	width: 15em;	
	border: none;
}

.App .Header input:focus{
	outline: none;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}
